
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@layer components {
    .navLinks {
        @apply p-2 rounded-md transition-transform transform hover:shadow-lg
        hover:border hover:border-primary_green hover:scale-105;
    }
}
